<aside class="w-64 bg-zinc-950 p-6">
  <h1 class="text-xl font-bold mb-8">Hope School</h1>

  <nav class="space-y-4">
    <%= link_to "Dashboard", admin_root_path, class: "block hover:text-emerald-400" %>
    <%= link_to "Students", admin_students_path, class: "block hover:text-emerald-400" %>
    <%= link_to "Teachers", admin_teachers_path, class: "block hover:text-emerald-400" %>
    <%= link_to "Classes", admin_classes_path, class: "block hover:text-emerald-400" %>
  </nav>
</aside>
